
@page
@model Erawork.Pages.Posts.Client.IndexModel
@{
	
}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/normalize.css">
	<link rel="stylesheet" href="~/assets/css/scrollbar.css">
	<link rel="stylesheet" href="~/assets/css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/assets/css/themify-icons.css">
	<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/jquery-ui.css">
	<link rel="stylesheet" href="~/assets/css/linearicons.css">
	<link rel="stylesheet" href="~/assets/css/tipso.css">
	<link rel="stylesheet" href="~/assets/css/chosen.css">
	<link rel="stylesheet" href="~/assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="~/assets/css/main.css">
	<link rel="stylesheet" href="~/assets/css/dashboard.css">
	<link rel="stylesheet" href="~/assets/css/color.css">
	<link rel="stylesheet" href="~assets/css/transitions.css">
	<link rel="stylesheet" href="~assets/css/responsive.css">
	<link rel="stylesheet" href="~assets/css/dbresponsive.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="~/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<!--Main Start-->
<main id="wt-main" class="wt-main wt-haslayout">
	
	<!--Register Form Start-->
	<section class="wt-haslayout wt-dbsectionspace">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
				<div class="wt-dashboardbox">
					<div class="wt-dashboardboxtitle">
						<h2>Manage Jobs</h2>
					</div>
					<div class="wt-dashboardboxcontent wt-jobdetailsholder">
						<div class="wt-freelancerholder">
							<div class="wt-tabscontenttitle">
                                <a asp-page="./Create"><h2>Create New Post</h2></a>

                            </div>
							<div class="wt-managejobcontent wt-verticalscrollbar">
								@if (Model.PostsPaging != null)
								{
									@foreach (var item in Model.PostsPaging)
									{
										<div class="wt-userlistinghold wt-featured wt-userlistingvtwo">
											<span class="wt-featuredtag"><img src="~/assets/images/featured.png" alt="img description" data-tipso="Plus Member" class="template-content tipso_style"></span>
											<div class="wt-userlistingcontent">
												<div class="wt-contenthead">
													<div class="wt-title">
														<a href="usersingle.html">
															<i class="fa fa-check-circle"></i> @item.ClientName
														</a>
														<h2>@item.PostTitle</h2>
													</div>
													<div id="job-desc" class="wt-description">
														@*@Html.Raw(item.PostDetails)*@
														<p>@item.SortDesc</p>
													</div>
													<ul class="wt-saveitem-breadcrumb wt-userlisting-breadcrumb">
														<li><span class="wt-dashboraddoller"><i class="fa fa-dollar-sign"></i> @item.Budget</span></li>
														@switch (item.isPostPublic)
														{
															case true:
																<li><span><i class="fa-solid fa-circle" style="color: cornflowerblue"></i> @item.PostStatus</span></li>
																break;
															case false:
																<li><span><i class="fa-solid fa-circle" style="color: red"></i> @item.PostStatus</span></li>
																break;
														}
														
														<li><a href="javascript:void(0);" class="wt-clicksavefolder"><i class="far fa-folder"></i> Category: @item.Category.CategoryName</a></li>
														
														<li><span class="wt-dashboradclock"><i class="far fa-clock"></i> Expire date: @item.ExpirationDate</span></li>
													</ul>
												</div>
												<div class="wt-rightarea">
													<div class="wt-btnarea m-2" >
														<a asp-page="../Details" asp-route-Id="@item.PostId" style="background-color: forestgreen" class="wt-btn">VIEW DETAILS</a>
													</div>
													<div class="wt-btnarea m-2">
														<a asp-page="./Update" asp-route-Id="@item.PostId" style="background-color: cadetblue" class="wt-btn">UPDATE</a>
													</div>
													<div class="wt-btnarea m-2">
														<form asp-page="./Delete" method="POST">
															<input type="hidden" name="PostId" value="@item.PostId" />
															<button type="submit">
																<a class="wt-btn">DELETE</a>
															</button>
														</form>
														
													</div>
													<div class="wt-hireduserstatus">
														<h4>01</h4><span>Proposals</span>
														<ul class="wt-hireduserimgs">
															<li><figure><img src="~/assets/images/user/userlisting/img-05.jpg" alt="img description"></figure></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									}
								} 
								else
								{
									<h2>You haven't any Post Job yet</h2>
								}

							</div>
						</div>
					</div>
					<nav class="wt-pagination wt-savepagination">
						@if (Model.HasPreviousPage || Model.HasNextPage)
						{
							<nav class="wt-pagination">
								<ul>
									<li class="wt-prevpage">
										<a asp-page="./Index" asp-route-CurrentPage="@((Model.pagingRequest.CurrentPage-1)==0?Model.TotalPages:(Model.pagingRequest.CurrentPage-1))" asp-route-searchTerm="@Model.pagingRequest.searchTerm" asp-route-pageSize="@Model.pagingRequest.PageSize">
											<i class="lnr lnr-chevron-left"></i>
										</a>
									</li>
									@if (Model.TotalPages <= 3)
									{
										for (int i = 1; i <= Model.TotalPages; i++)
										{
											<li><a asp-route-CurrentPage="@i" asp-route-searchTerm="@Model.pagingRequest.searchTerm" asp-route-pageSize="@Model.pagingRequest.PageSize">@i</a></li>
										}
									}
									else
									{
										for (int i = 1; i <= Model.TotalPages; i++)
										{
											<li><a asp-route-CurrentPage="@i" asp-route-searchTerm="@Model.pagingRequest.searchTerm" asp-route-pageSize="@Model.pagingRequest.PageSize">@i</a></li>
										}
										<li><a href="javascrip:void(0);">...</a></li>
										<li><a asp-route-CurrentPage="@Model.TotalPages" asp-route-searchTerm="@Model.pagingRequest.searchTerm" asp-route-pageSize="@Model.pagingRequest.PageSize">Last Page</a></li>
									}
									<li class="wt-nextpage">
										<a asp-page="./Index" asp-route-CurrentPage="@((Model.pagingRequest.CurrentPage+1)>Model.TotalPages?1:(Model.pagingRequest.CurrentPage+1))" asp-route-searchTerm="@Model.pagingRequest.searchTerm" asp-route-pageSize="@Model.pagingRequest.PageSize">
											<i class="lnr lnr-chevron-right"></i>
										</a>
									</li>
								</ul>
							</nav>
						}
					</nav>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
				<aside id="wt-sidebar" class="wt-sidebar wt-dashboardsave">
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent">
							<figure>
								<img src="~/assets/images/thumbnail/img-17.png" alt="image">
							</figure>
							<div class="wt-title">
								<h3>150</h3>
								<span>Total Ongoing Jobs</span>
							</div>
						</div>
					</div>
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent wt-componyfolow">
							<figure>
								<img src="~/assets/images/thumbnail/img-16.png" alt="image">
							</figure>
							<div class="wt-title">
								<h3>1406</h3>
								<span>Total Completed Jobs</span>
							</div>
						</div>
					</div>
					<div class="wt-proposalsr">
						<div class="wt-proposalsrcontent  wt-freelancelike">
							<figure>
								<img src="~/assets/images/thumbnail/img-15.png" alt="image">
							</figure>
							<div class="wt-title">
								<h3>2075</h3>
								<span>Total Cancelled Jobs</span>
							</div>
						</div>
					</div>
				</aside>
				<div class="wt-companyad">
					<figure class="wt-companyadimg"><img src="~/assets/images/add-img.jpg" alt="img description"></figure>
					<span>Advertisement  255px X 255px</span>
				</div>
			</div>
		</div>
	</section>
	<!--Register Form End-->
</main>
