@page
@model Erawork.Pages.Pakages.Provider.IndexModel
@{
}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BootStrap HTML5 CSS3 Theme</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link rel="icon" href="~/assets/images/favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/assets/css/normalize.css">
	<link rel="stylesheet" href="~/assets/css/scrollbar.css">
	<link rel="stylesheet" href="~/assets/css/fontawesome/fontawesome-all.css">
	<link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/assets/css/themify-icons.css">
	<link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/assets/css/jquery-ui.css">
	<link rel="stylesheet" href="~/assets/css/linearicons.css">
	<link rel="stylesheet" href="~/assets/css/tipso.css">
	<link rel="stylesheet" href="~/assets/css/chosen.css">
	<link rel="stylesheet" href="~/assets/css/prettyPhoto.css">
	<link rel="stylesheet" href="~/assets/css/main.css">
	<link rel="stylesheet" href="~/assets/css/dashboard.css">
	<link rel="stylesheet" href="~/assets/css/color.css">
	<link rel="stylesheet" href="~/assets/css/transitions.css">
	<link rel="stylesheet" href="~/assets/css/responsive.css">
	<link rel="stylesheet" href="~/assets/css/dbresponsive.css">
	<script src="~/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<main id="wt-main" class="wt-main wt-haslayout">
	<!--Sidebar Start-->
	<div id="wt-sidebarwrapper" class="wt-sidebarwrapper wt-fixednav">
		<div id="wt-btnmenutoggle" class="wt-btnmenutoggle">
			<span class="menu-icon">
				<em></em>
				<em></em>
				<em></em>
			</span>
		</div>
		<div id="wt-verticalscrollbar" class="wt-verticalscrollbar mCustomScrollbar _mCS_1">
			<div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
				<div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
					<div class="wt-companysdetails wt-usersidebar">
						<figure class="wt-companysimg">
							<img src="images/sidebar/img-01.jpg" alt="img description" class="mCS_img_loaded">
						</figure>
						<div class="wt-companysinfo">
							<figure><img src="images/sidebar/img-02.html" alt="img description" class="mCS_img_loaded"></figure>
							<div class="wt-title">
								<h2><a href="javascript:void(0);"> Louanne Mattioli</a></h2>
								<span>Amento Tech</span>
							</div>
							<div class="wt-btnarea"><a href="dashboard-postjob.html" class="wt-btn">Post a Job</a></div>
						</div>
					</div>
					<nav id="wt-navdashboard" class="wt-navdashboard">
						<ul>
							<li class="menu-item-has-children">
								<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
								<a href="javascript:void(0);">
									<i class="ti-dashboard"></i>
									<span>Insights</span>
								</a>
								<ul class="sub-menu">
									<li><hr><a href="dashboard-insights.html">Insights</a></li>
									<li><hr><a href="dashboard-insightsuser.html">Insights User</a></li>
								</ul>
							</li>
							<li class="wt-active">
								<a href="dashboard-profile.html">
									<i class="ti-briefcase"></i>
									<span>My Profile</span>
								</a>
							</li>
							<li class="menu-item-has-children">
								<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
								<a href="javascript:void(0);">
									<i class="ti-package"></i>
									<span>All Jobs</span>
								</a>
								<ul class="sub-menu">
									<li><hr><a href="dashboard-completejobs.html">Completed Jobs</a></li>
									<li><hr><a href="dashboard-canceljobs.html">Cancelled Jobs</a></li>
									<li><hr><a href="dashboard-ongoingjob.html">Ongoing Jobs</a></li>
									<li><hr><a href="dashboard-ongoingsingle.html">Ongoing Single</a></li>
								</ul>
							</li>
							<li>
								<a href="dashboard-managejobs.html">
									<i class="ti-announcement"></i>
									<span>Manage Jobs</span>
								</a>
							</li>
							<li class="wt-notificationicon menu-item-has-children">
								<span class="wt-dropdowarrow"><i class="lnr lnr-chevron-right"></i></span>
								<a href="javascript:void(0);">
									<i class="ti-pencil-alt"></i>
									<span>Messages</span>
								</a>
								<ul class="sub-menu">
									<li><hr><a href="dashboard-messages.html">Messages</a></li>
									<li><hr><a href="dashboard-messages2.html">Messages V 2</a></li>
								</ul>
							</li>
							<li>
								<a href="dashboard-saveitems.html">
									<i class="ti-heart"></i>
									<span>My Saved Items</span>
								</a>
							</li>
							<li>
								<a href="dashboard-invocies.html">
									<i class="ti-file"></i>
									<span>Invoices</span>
								</a>
							</li>
							<li>
								<a href="dashboard-category.html">
									<i class="ti-layers"></i>
									<span>Category</span>
								</a>
							</li>
							<li>
								<a href="dashboard-packages.html">
									<i class="ti-money"></i>
									<span>Packages</span>
								</a>
							</li>
							<li>
								<a href="dashboard-proposals.html">
									<i class="ti-bookmark-alt"></i>
									<span>Proposals</span>
								</a>
							</li>
							<li>
								<a href="dashboard-accountsettings.html">
									<i class="ti-anchor"></i>
									<span>Account Settings</span>
								</a>
							</li>
							<li>
								<a href="dashboard-helpsupport.html">
									<i class="ti-tag"></i>
									<span>Help &amp; Support</span>
								</a>
							</li>
							<li>
								<a href="index-2.html">
									<i class="ti-shift-right"></i>
									<span>Logout</span>
								</a>
							</li>
						</ul>
					</nav>
					<div class="wt-navdashboard-footer">
						<span>Worktern. © 2019 All Rights Reserved.</span>
					</div>
				</div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 715px; max-height: 750px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
			</div>
		</div>
	</div>
	<!--Sidebar Start-->
	<!--Register Form Start-->
	<section class="wt-haslayout">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
				<div class="wt-haslayout wt-dbsectionspace">
					<div class="wt-dashboardbox wt-dashboardtabsholder">
						<div class="wt-dashboardboxtitle">
							<h2>My Pakages</h2>
						</div>
						<div class="wt-dashboardtabs">
							<ul class="wt-tabstitle nav navbar-nav">
								<li class="nav-item"><a data-toggle="tab" href="#wt-education" class="active show">Pakages Manage</a></li>
							</ul>
						</div>
						<div class="wt-tabscontent tab-content">
							
							<div class="wt-educationholder tab-pane fade active show" id="wt-education">
								@foreach (var service in Model.ServicePakages)
								{
									<div class="wt-userexperience wt-tabsinfo">
										<div class="wt-tabscontenttitle wt-addnew">
											<h2>@service.ServiceTitle</h2>
										</div>
										<ul class="wt-experienceaccordion accordion">
											@if (service.Pakages != null)
											{
												<li class="li-item_display" id="insert-display-@service.ServiceId">
													<div class="wt-accordioninnertitle">
														<a href="javascript:void(0);" id="accordioninnertitle-service-@service.ServiceId" data-toggle="collapse" data-target="#innertitle-service-@service.ServiceId">Add new pakage <em>(for @service.ServiceTitle)</em></a>
													</div>
													<div class="wt-collapseexp collapse hide" id="innertitle-service-@service.ServiceId" aria-labelledby="accordioninnertitle" data-parent="#accordion">
														<form asp-page="./Create" method="post" class="wt-formtheme wt-userform">
															<fieldset>
																<div class="form-group form-group-half">
																	<input type="hidden" name="createRequest.ServiceId" value="@service.ServiceId" class="form-control">
																	<input type="text" name="createRequest.PakageName" class="form-control" placeholder="Pakage Name" required>
																</div>
																<div class="form-group form-group-half">
																	<input type="number" name="createRequest.Price" class="form-control" placeholder="Price" required>
																</div>
																<div class="form-group form-group-half">
																	<input type="text" name="createRequest.RevisionLimit" class="form-control" placeholder="Revision Limit" required>
																</div>
																<div class="form-group form-group-half">
																	<input type="number" name="createRequest.DeliveryDay" class="form-control" placeholder="Delivery Days" required>
																</div>
																<div class="form-group d-flex justify-content-start">
																	<div class="wt-rightarea mr-2">
																		<span>Allow this pakage active? </span>
																	</div>
																	<div class="wt-on-off float-right">
																		<input type="checkbox" id="hide-on-service-@service.ServiceId" name="createRequest.IsActive" />
																		<label for="hide-on-service-@service.ServiceId"><i></i></label>
																	</div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="submit" class="wt-btn border no-border" style="background-color: cornflowerblue" value="Create Pakage">
                                                                </div>
                                                            </fieldset>
                                                        </form>
													</div>
												</li>
												@foreach (var pakage in service.Pakages)
												{
													<li>
														<div class="wt-accordioninnertitle">
															<span id="accordioninnertitlea-@pakage.PakageId" data-toggle="collapse" data-target="#innertitlea-@pakage.PakageId"> @pakage.PakageName<em>  </em></span>
															<div class="wt-rightarea">
																<a href="javascript:void(0);" class="wt-addinfo wt-skillsaddinfo" data-toggle="collapse" data-target="#innertitlea-@pakage.PakageId" id="accordioninnertitlea-@pakage.PakageId" data-toggle="collapse" data-target="#innertitlea" aria-expanded="true"><i class="lnr lnr-pencil"></i></a>
																<a asp-page="./Delete" asp-route-Pakage="@pakage.PakageId" class="wt-deleteinfo"><i class="lnr lnr-trash"></i></a>
															</div>
														</div>
														<div class="wt-collapseexp collapse hide" id="innertitlea-@pakage.PakageId" aria-labelledby="accordioninnertitleaa" data-parent="#accordion">
															<form asp-page="./Update" method="post" class="wt-formtheme wt-userform">
																<fieldset>
																	<div class="form-group form-group-half">
																		<input type="hidden" name="updateRequest.ServiceId" value="@service.ServiceId" class="form-control">
																		<input type="hidden" name="updateRequest.PakageId" value="@pakage.PakageId" class="form-control">
																		<input type="text" name="updateRequest.PakageName" value="@pakage.PakageName" class="form-control" placeholder="Pakage Name" required>
																	</div>
																	<div class="form-group form-group-half">
																		<input type="number" name="updateRequest.Price" value="@pakage.Price" class="form-control" placeholder="Price" required>
																	</div>
																	<div class="form-group form-group-half">
																		<input type="text" name="updateRequest.RevisionLimit" value="@pakage.RevisionLimit" class="form-control" placeholder="Revision Limit" required>
																	</div>
																	<div class="form-group form-group-half">
																		<input type="number" name="updateRequest.DeliveryDay" value="@pakage.DeliveryDays" class="form-control" placeholder="Delivery Days" required>
																	</div>
																	<div class="form-group d-flex justify-content-start">
																		<div class="wt-rightarea mr-2">
																			<span>Allow this pakage active? </span>
																		</div>
																		<div class="wt-on-off float-right">
																			@if (pakage.isPakageAcive == true)
																			{
																				<input type="checkbox" id="hide-on-@pakage.PakageId" name="updateRequest.IsActive" value="@pakage.isPakageAcive" checked />
																			}
																			else
																			{
																				<input type="checkbox" id="hide-on-@pakage.PakageId" name="updateRequest.IsActive" value="@pakage.isPakageAcive" />
																			}

																			<label for="hide-on-@pakage.PakageId"><i></i></label>
																		</div>
																	</div>
																	<div class="form-group">
																		<input type="submit" class="wt-btn border no-border" value="Update Pakage">
																	</div>
																</fieldset>
															</form>
														</div>
													</li>
												}
											}
											
										</ul>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
				<div class="wt-haslayout wt-dbsectionspace wt-codescansidebar">
					<div class="tg-authorcodescan wt-codescanholder">
						<figure class="tg-qrcodeimg">
							<img src="~/assets/images/qrcode.png" alt="img description">
						</figure>
						<div class="tg-qrcodedetail">
							<span class="lnr lnr-laptop-phone"></span>
							<div class="tg-qrcodefeat">
								<h3>Scan with your <span>Smart Phone </span> To Get It Handy.</h3>
							</div>
						</div>
						<div class="wt-codescanicons">
							<span>Share Your Profile</span>
							<ul class="wt-socialiconssimple">
								<li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
								<li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
								<li class="wt-linkedin"><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
								<li class="wt-clone"><a href="javascript:void(0);"><i class="far fa-clone"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="wt-companyad">
						<figure class="wt-companyadimg"><img src="~/assets/images/add-img.jpg" alt="img description"></figure>
						<span>Advertisement  255px X 255px</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Register Form End-->
</main>