@page
@model Erawork.Pages.Categories.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name:
                <input type="text" name="keyword" value="@Model.CurrentKeyword" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="./Index">Back to full List</a>
            </p>
        </div>
    </form>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].isCategoryActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Category)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isCategoryActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CategoryId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CategoryId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CategoryId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">

        <li class="page-item">
            <a asp-page="./Index" asp-route-currentpage="@(Model.CurrentPage -1)" class="page-link">Previous</a>
        </li>

        @for (var i = 1; i <= 3; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="./Index" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }

        <li class="page-item">
            <a asp-page="./Index" asp-route-currentpage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
        </li>

    </ul>
</div>

<div>
</div>
